*.o
*.dSYM
*.csv
*.out
*.pyc
.fuse*
libuwimg*
uwimg

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp


**/*.o
**/*.dSYM
**/*.csv
**/*.out
**/*.pyc
**/.fuse*
**/libuwimg*
**/uwimg

# OS Generated #
**/.DS_Store*
**/ehthumbs.db
**/Icon?
**/Thumbs.db
**/*.swp

*.so

*.a

\.idea/
